.item {
    width:19.8rem;
    height:19.8rem;
    background-color: brown;
    color: white;
    font-size: 150px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
     }
   .item1 {
      width:19.8rem;
      height:19.8rem;
      background-color: gold;
      color: black;
      font-size: 150px;
      position: fixed;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
       }
    .item2 {
     width:19.8rem;
     height:19.8rem;
     background-color: blue;
     color: white;
     font-size: 150px;
     position: fixed;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
      }

    .counter{
        margin-top: 60px;
        text-align: center;
    }  